<h1>Editing profile</h1>

<%= render "form", profile: @profile %>
<br>
<p>
    <%= button_to "Destroy this profile", user_profile_path(@profile), method: :delete %>
</p>
<div>
  <%= link_to "Back to profiles", user_profiles_path %>
</div>
