<p style="color: green"><%= notice %></p>

<h1>Profiles</h1>

<div id="profiles">
  <% @profiles.each do |profile| %>
    <%= render profile %>
    <p>
      <%= link_to "Show this profile", user_profile_path(profile.user.id, profile) %>
    </p>
  <% end %>
</div>

<%= link_to "New profile", new_user_profile_path %>
