
<h1>Admin Panel - User Management</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<BR>
<%= link_to "Usre management", admin_users_path%>

<%= link_to "Manage Courses", admin_courses_path %>

