<span class="text-[#818181] pl-3 font-medium text-[15px]"><%= Course.last.course_name %></span>
<span class="pl-3 text-[15px] text-[#000] font-medium">Section Name:</span>
<span class="text-[#818181] pl-3 font-medium text-[15px]"><%= Course.last.sections.first&.title %></span>
