<p style="color: green"><%= notice %></p>

<h1>Subscription details</h1>

<div id="subscription_details">
  <% @subscription_details.each do |subscription_detail| %>
    <%= render subscription_detail %>
    <p>
      <%= link_to "Show this subscription detail", subscription_detail %>
    </p>
  <% end %>
</div>

<%= link_to "New subscription detail", new_subscription_detail_path %>
