<h4>Section Details</h4>
<% sections.each do |section| %>
  <p class="m-4">Section Title: <%= section.title %></p>
  <%= link_to "View Table", alter_lesson_admin_section_lessons_path(section_id: section.id), data: { turbo_method: :get, turbo_stream: true } %>
<% end %>
<div class="w-[60%] mx-auto flex">
  <div class="flex justify-center">
    <div id="first-div" class="flex items-center containers">
      <div class="outer-div active-outerdiv">
        <div class="circle active-circle flex justify-center items-center">
          <span class="text-[30px] text-white ">&#10003;</span>
        </div>
      </div>
    </div>
    <div id="second-div" class="flex items-center containers">
      <div class="line"></div>
      <div class="outer-div">
        <div class="circle flex justify-center items-center">
          <span class="text-[30px] text-white ">&#10003;</span>
        </div>
      </div>
    </div>
    <div id="third-div" class="flex items-center containers">
      <div class="line"></div>
      <div class="outer-div">
        <div class="circle flex justify-center items-center">
          <span class="text-[30px] text-white ">&#10003;</span>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-between flex-col">
    <h2 id="text1" class="text-noramal text-active font-medium">Course details</h2>
    <h2 id="text2" class="text-noramal font-medium">Section details</h2>
    <h2 id="text3" class="text-noramal font-medium">Session details</h2>
  </div>
  <button id="next-button" class="add-button">Next</button>
</div>
<script>
 $(document).ready(function () {
  const active = {
    stepper1: true,
    stepper2: false,
    stepper3: false,
  };

  const slideStepper = function (element) {
    $(".outer-div, .line, .circle, h2").removeClass("active-outerdiv fineshed-outerdiv active-circle fineshed-circle fineshed-line text-active text-fineshed");

    if (element === "first-div" && !active.stepper1) {
      active.stepper1 = true;
    } else if (element === "second-div" && active.stepper1 && !active.stepper2) {
      active.stepper2 = true;
    } else if (element === "third-div" && active.stepper1 && active.stepper2 && !active.stepper3) {
      active.stepper3 = true;
    } else if (element === "second-div" && active.stepper1 && active.stepper2 && active.stepper3) {
      active.stepper3 = false;
    } else if ((element === "first-div" && active.stepper1 && active.stepper2) || (element === "first-div" && active.stepper1 && active.stepper2 && active.stepper3)) {
      active.stepper2 = false;
      active.stepper3 = false;
    }

    // Apply new classes
    if (active.stepper1) {
      $("#first-div .outer-div").addClass("active-outerdiv");
      $("#first-div .circle").addClass("active-circle");
      $("#text1").addClass("text-active");
    }

    if (active.stepper2) {
      $("#first-div .outer-div").addClass("fineshed-outerdiv");
      $("#first-div .circle").addClass("fineshed-circle");
      $("#text1").addClass("text-fineshed");

      $("#second-div .line").addClass("fineshed-line");
      $("#second-div .outer-div").addClass("active-outerdiv");
      $("#second-div .circle").addClass("active-circle");
      $("#text2").addClass("text-active");
    }

    if (active.stepper3) {
      $("#second-div .outer-div").addClass("fineshed-outerdiv");
      $("#second-div .circle").addClass("fineshed-circle");
      $("#text2").addClass("text-fineshed");

      $("#third-div .line").addClass("fineshed-line");
      $("#third-div .outer-div").addClass("active-outerdiv");
      $("#third-div .circle").addClass("active-circle");
      $("#text3").addClass("text-active");
    }

    if ((!active.stepper3 && active.stepper2 && active.stepper1) || (!active.stepper3 && !active.stepper2 && active.stepper1)) {
      $("#second-div .outer-div").removeClass("fineshed-outerdiv");
      $("#second-div .circle").removeClass("fineshed-circle");
      $("#text2").removeClass("text-fineshed");

      $("#third-div .line").removeClass("fineshed-line");
      $("#third-div .outer-div").removeClass("active-outerdiv");
      $("#third-div .circle").removeClass("active-circle");
      $("#text3").removeClass("text-active");
    }

    if ((!active.stepper3 && !active.stepper2 && active.stepper1) || (!active.stepper3 && !active.stepper2 && active.stepper1)) {
      $("#second-div .outer-div").removeClass("active-outerdiv");
      $("#second-div .circle").removeClass("active-circle");
      $("#second-div .line").removeClass("fineshed-line");
      $("#text2").removeClass("text-active");

      $("#first-div .outer-div").removeClass("fineshed-outerdiv");
      $("#first-div .circle").removeClass("fineshed-circle");
      $("#text1").removeClass("text-fineshed");
    }
  };

  const buttonSlideStepper = function () {
    if (!active.stepper1) {
      slideStepper("first-div");
    } else if (!active.stepper2) {
      slideStepper("second-div");
    } else if (!active.stepper3) {
      slideStepper("third-div");
    }
  };

  $("#first-div").on("click", function () {
    slideStepper("first-div");
  });

  $("#second-div").on("click", function () {
    slideStepper("second-div");
  });

  $("#third-div").on("click", function () {
    slideStepper("third-div");
  });

  $("#next-button").on("click", function () {
    buttonSlideStepper();
  });
});

</script>