<!DOCTYPE html>
<html>
<head>
  <title>Section Details</title>
</head>
<body>
  <h1>Course Details</h1>
  <p><strong>Title:</strong> <%= @section.title %></p>
  <p><strong>Description:</strong> <%= @section.description %></p>
  <p><%= link_to 'Back', admin_course_sections_path %></p>
</body>
</html>
