<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello <%= @payment.user_course.user.name %>,</p>
    <p>Please find attached your invoice.</p>
  </body>
</html>
