<div class="flex justify-between">
  <div class="text-[#000000] text-[18px] font-medium">
    Course
  </div>
  <div class="text-[#31B978] text-[18px] font-bold sm:ml-[10px] ml-[25px] pb-4 sm:pb-0 b" id="section-dropdown">
    <%= collection_select(:course, :course_name, courses, :id, :course_name, { prompt: "Select Course", selected: '' }, { class: "bg-[#fff] border-[1px] foucus:ring-0 text-[#818181] text-[16px] font-medium rounded-lg outline-none block w-full p-2.5 rounded-[7px] bg-[#fff] text-[#818181] filter-handle new-custom-select sources" }) %>
  </div>
</div>
