@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary 
    @apply py-2 px-4 bg-blue-200;
  }
}

*/
.table-container{
  min-height: 300px;
  min-width: 100vh;
  overflow: auto;
}
.table-container::-webkit-scrollbar-thumb {
  background-color: #e2e2e2;
  border-radius: 10px;
  width: 5px;
}
.message{
  display: none;
}

.fa-2x {
  font-size: 2em;
}
.fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: large;
}

.main-menu:hover,
nav.main-menu.expanded {
  width: 290px;
  overflow: visible;
}

.main-menu:hover,
.main-page.expanded {
  width: 290px;
  overflow: visible;
}

.main-menu {
  background: #fff;
  /* position: absolute; */
  /* top: 0; */
  /* bottom: 0; */
  height: 100%;
  /* left: 0; */
  width: 55px;
  overflow: hidden;
  -webkit-transition: width 0.05s linear;
  transition: width 0.05s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
  z-index: 1000;
  position: absolute;
}

.main-menu > ul {
  /* margin: 7px 0; */
}

.main-menu li {
  position: relative;
  display: block;
  width: 290px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.main-menu li > a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: #999;
  font-family: 'Poppins', sans-serif !important;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  -webkit-transform: translateZ(0) scale(1, 1);
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.main-menu .nav-icon {
  position: relative;
  display: table-cell;
  width: 55px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}

.main-menu .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 230px;
  font-size: 18px;
  font-weight: 500;
}

.main-menu > ul.logout {
  position: absolute;
  left: 0;
  bottom: 0;
}

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

a:hover,
a:focus {
  text-decoration: none;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}
.main-menu li:hover > a,
nav.main-menu li.active > a,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
  color: #0bc08b;
}
.area {
  float: left;
  background: #e2e2e2;
  width: 100%;
}

/* Your initial styles here */

.title1 {
  display: block;
}

.title11{
  display: none !important;
}

.open {
  display: none;
}

.open1{
  display: block !important;
}

.main-menu2 {
  overflow: visible;
  width: 290px;
}

.main-nav {
  width: 97%;
}

.main-nav2 {
  width: 85%;
}
.main-page {
  width: 97%;
  margin-left: auto;
}
.main-page2 {
  width: 85%;
  margin-left: auto;
  transition: all 0.2s linear;
}

.title-card {
  display: none;
}

.reduce-course2 {
  width: 75%;
}

@media screen and (max-width: 425px) {
  .reduce-course2 {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .del-img{
    max-width: 14px !important;
  }
}

#dropdown:before {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  border: solid 1px #DCDCDC;
  border-width: 1px 0 0 1px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  background-color: #fff;
  top: -7px;
  right: 25px;
}
.profile-slider{
  top: 10px !important;
  /* left: -20px !important; */
  transform: translate(1874px, 58px);
  transition: 1s;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
}

.pagination a {
  color: #333;
  padding: 5px 15px;
  margin: 0 5px;
  border-radius: 7px;
  text-decoration: none;
  border-radius: 3px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

.pagination .current {
  background: linear-gradient(to right, #1ab69c, #31b978);
  color: #fff;
  padding: 8px 15px;
  border-radius: 7px;
  margin: 0 2px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
}

.pagination .previous,
.pagination .next {
  margin: 0 5px;
}

.pagination .disabled {
  pointer-events: none;
  margin-top: -3px;
  padding: 8px 15px;
}
.pagination .previous_page {
  margin-right: 5px;
}

.pagination .next_page {
  margin-left: 5px;
}

.pagination .previous_page,
.pagination .next_page {
  font-size: 0;
}

.pagination .previous_page::before {
  content: "\003C";
  font-size: 18px;
  color: #0bc08b;
}

.pagination .next_page::before {
  content: "\003E";
  font-size: 18px;
  color: #0bc08b;
}

.icon-active {
  fill: #0bc08b;
  stroke: #0bc08b;
}

.homecontroller .actived {
  margin-left: 6px;
  background: linear-gradient(to right, #1ab69c, #31b978);
  color: #fff !important;
  border-radius: 7px;
}
.homecontroller .actived:hover {
  color: #fff !important;
}

.actived .link-clr{
  color: #fff !important;
}

.link-clr{
  color: #999;
}

.main-menu li:hover .link-clr{
  color: #0bc08b;
}


.test-icon:hover path {
  stroke: #0bc08b;
}

.main-menu li:hover  svg path {
  stroke: #0bc08b;
}
.main-menu li:hover span{
  stroke : #0bc08b;
}

.actived svg path {
  stroke: #fff !important;
}


.custom-section {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.custom-lesson {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.max-w-4xl{
  max-width: 47rem !important;
}

.reduce-width{
  width: 85% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.active .hs-stepper-active\:border {
  border: 1px solid #0183ce;
}
.active .hs-stepper-active\:p-2 {
  padding: 8px;
}
.active .hs-stepper-active\:rounded {
  border-radius: 23px;
}
.active .hs-stepper-active\:bg-blue-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity));
}

.active.hs-stepper-active\:text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.active .hs-stepper-active\:bg-blue-600 {
  --tw-bg-opacity: 1;
  background-color: #0183ce;
}

.active .hs-stepper-active\:text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.success.hs-stepper-success\:block {
  display: block;
}

.success.hs-stepper-success\:hidden {
  display: none;
}

.success.hs-stepper-success\:bg-blue-600 {
  --tw-bg-opacity: 1;
  background-color: #0183ce;
}

.success.hs-stepper-success\:text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.success .hs-stepper-success\:block {
  display: block;
}

.success .hs-stepper-success\:hidden {
  display: none;
}

.success .hs-stepper-success\:bg-blue-600 {
  --tw-bg-opacity: 1;
  background-color: #0bc08b;
}

.success .hs-stepper-success\:text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.completed.hs-stepper-completed\:hidden {
  display: none;
}

.completed.hs-stepper-completed\:bg-teal-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(20 184 166 / var(--tw-bg-opacity));
}

.completed.hs-stepper-completed\:bg-teal-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(13 148 136 / var(--tw-bg-opacity));
}

.completed.group:focus .hs-stepper-completed\:group-focus\:bg-teal-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(13 148 136 / var(--tw-bg-opacity));
}

.completed .hs-stepper-completed\:hidden {
  display: none;
}

.completed .hs-stepper-completed\:bg-teal-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(20 184 166 / var(--tw-bg-opacity));
}

.completed .hs-stepper-completed\:bg-teal-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(13 148 136 / var(--tw-bg-opacity));
}

.completed .group:focus .hs-stepper-completed\:group-focus\:bg-teal-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(13 148 136 / var(--tw-bg-opacity));
}

.error.hs-stepper-error\:block {
  display: block;
}

.error.hs-stepper-error\:hidden {
  display: none;
}

.error.hs-stepper-error\:bg-red-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity));
}

.error .hs-stepper-error\:block {
  display: block;
}

.error .hs-stepper-error\:hidden {
  display: none;
}

.error .hs-stepper-error\:bg-red-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity));
}

.processed.hs-stepper-processed\:inline-block {
  display: inline-block;
}

.processed.hs-stepper-processed\:hidden {
  display: none;
}

.processed.hs-stepper-processed\:border {
  border-width: 1px;
}

.processed.hs-stepper-processed\:border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
}

.processed.hs-stepper-processed\:bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.processed .hs-stepper-processed\:inline-block {
  display: inline-block;
}

.processed .hs-stepper-processed\:hidden {
  display: none;
}

.processed .hs-stepper-processed\:border {
  border-width: 1px;
}

.processed .hs-stepper-processed\:border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
}

.processed .hs-stepper-processed\:bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.processed:is(.dark .hs-stepper-processed\:dark\:border-gray-700) {
  --tw-border-opacity: 1;
  border-color: rgb(55 65 81 / var(--tw-border-opacity));
}

.processed :is(.dark .hs-stepper-processed\:dark\:border-gray-700) {
  --tw-border-opacity: 1;
  border-color: rgb(55 65 81 / var(--tw-border-opacity));
}

/* Navbar icon rotation */
.rotate-180 {
  transform: rotate(180deg);
  transition: transform 0.5s; /* You can adjust the transition duration */
}

.rotate-0 {
  transform: rotate(0deg);
  transition: transform 0.5s; /* You can adjust the transition duration */
}


#file-upload-button {
  width: 100%;
  height: 47px;
}

/* Select */

.custom-select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
}
.custom-select-wrapper select {
  display: none;
}
.custom-select {
  position: relative;
  display: inline-block;
  width: 14rem;
}


.custom-select-trigger {
  position: relative;
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #818181;
  border-radius: 4px;
  cursor: pointer;
}
.custom-select-trigger:after {
  position: absolute;
  display: block;
  content: "";
  /* width: 10px;
  height: 10px;
  top: 50%;
  right: 0px;
  margin-top: -3px;
  border-bottom: 1px solid #818181;
  border-right: 1px solid #818181; */
  top: 35%;
  right: 0;
  width: 0;
	height: 0;
	border-bottom: 10px solid #818181;
	border-left: 10px solid transparent;
  transform: rotate(45deg) translateY(-50%);
  transition: all 0.4s ease-in-out;
  transform-origin: 50% 0;
}
.custom-select.opened .custom-select-trigger:after {
  margin-top: 3px;
  transform: rotate(225deg) translateY(-50%);
}
.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  min-width: 100%;
  border: 1px solid #b5b5b5;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  background: #fff;
  transition: all 0.4s ease-in-out;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-15px);
  max-height: 200px;
  overflow-y: auto;
}
.custom-select.opened .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0);
}

.option-hover:before {
  background: #f9f9f9;
}
.custom-option {
  position: relative;
  display: block;
  padding: 5px 22px;
  font-size: 14px;
  font-weight: 500;
  color: #818181;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.custom-option:first-of-type {
  border-radius: 4px 4px 0 0;
}
.custom-option:last-of-type {
  border-bottom: 0;
  border-radius: 0 0 4px 4px;
}
.custom-option:hover,
.custom-option.selection {
  background: #EDEDED;
}

/* File Upload */

.fileUploadWrap {
  position: relative;
}
.clipUpload {
  position: relative;
  height: 40px;
}
.fileUploadIcon {
  position: absolute;
  cursor: pointer;
  pointer-events: none;
  width: 50px;
  top: 50%;
  transform: translatey(-50%);
}
.clip {
  position: absolute;
  left: 50px;
  top: 0px;
  pointer-events: none;
}
.attachments {
  position: absolute;
  left: 50px;
  top: 0px;
  pointer-events: none;
}
input[type="file"] {
  opacity: 0;
  width: 100%;
}
.line {
  height: 70px;
  width: 3px;
  border-radius: 4px;
  background: lightgrey;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #c1c9d2;
}

.active-circle {
  background-color: #0183ce;
  transition-duration: 0.5s;
}

.fineshed-circle {
  background-color: #0bc08b;
  transition-duration: 0.5s;
}

.outer-div {
  background-color: #c1c9d2;
  padding: 7px;
  border: 2px solid #c1c9d2;
  border-radius: 50%;
  margin: 15px;
  transition-duration: 0.5s;
}

.active-outerdiv {
  background-color: #f0f4f5;
  border: 2px solid #0183ce;
  transition-duration: 0.5s;
}

.fineshed-outerdiv {
  background-color: #0bc08b;
  border: 2px solid #0bc08b;
  transition-duration: 0.2s;
}
.outer-div .circle span svg {
  display: none;
  transition-duration: 0.5s;
}

.fineshed-outerdiv .fineshed-circle span svg {
  display: inline-block;
  transition-duration: 0.5s;
}

.fineshed-line {
  background: #0bc08b !important;
  transition-duration: 0.2s;
}
.text-noramal {
  color: #c1c9d2;
  transition-duration: 0.5s;
}
.text-active {
  color: #000;
  transition-duration: 0.5s;
}
.text-fineshed {
  color: #0bc08b;
  transition-duration: 0.5s;
}

.fineshed-line {
  background: #0bc08b !important;
  transition-duration: 0.2s;
}