// #invoice {
// .container {
//   width: 100%;
// }

.direction {  
  display: -webkit-box; /* wkhtmltopdf uses this one */
    display: flex;
    flex-direction: columns;
    // -webkit-box-pack: center; /* wkhtmltopdf uses this one */
    justify-content: space-between;
}

.wrapper {
   width: 100%;
   border: 1px solid #000;
   margin: 10px 0;
}

.address{
  margin-left: 15px !important;
  color: #000 !important;
  font-size: 18px !important;
}

th{
  padding: 20px !important;
}