#invoice {
.container {
  width: 100%;
}

.direction {  
  display: flex !important;
  flex-direction: row !important;
}

.wrapper {
   width: 100%;
   border: 1px solid #9b0f0f;
   margin: 10px 0;

  .row{
border-bottom: 1px solid #000;

.border-right {
  border-right: 1px solid #000;
}
  }

  .no-border {
border-bottom: 0;
  }
}

.margin-0 {
  margin: 0;
}

.padding-0 {
  padding: 0;
}

img {
  height: 30px;
}

table, th, td {
  border: 1px solid #000 !important;
  margin: 0 !important;
}
.table {

  thead {

  }
.first {
  border-top: 0;
}

.last {
  border-bottom: 0;
}

b {
  display: block;
}

span {
  font-size: 12px;
}

}

.invoice-bill {
  width: 100%;

  td {
border: 0px solid #000;
padding: 5px;
  }

  .serial-no {
width: 70px;
  }

  .particulars {
width: 500px;
  }

  .amount {
width: 150px;
  }

  .particular-items {
padding: 5px 10px;
  }

  .amount-items {
padding: 5px 0;
  }
}

.entry-id {
  margin: 35px 0;
}

.bank-details {
  margin-top: 30px;
}

.authorised-sign-wrapper {
  width: 300px;
  border: 1px solid #000;
  padding: 5px 20px;
}
}