<%= will_paginate(users) do |paginator| %>
  <% if paginator.next_page %>
    <%= link_to 'Next', { page: paginator.next_page } %>
  <% else %>
    <span class="next disabled">Next</span>
  <% end %>
<% end %>
