<!DOCTYPE html>
<html>
  <head>
    <title>Tech Village Academy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  </head>
  <body style="font-family: 'Poppins', sans-serif;">
    <%= yield %>
  </body>
</html>
